sonar.projectKey={{ repo_owner }}_{{ repo_name }}
sonar.organization={{ repo_owner }}

sonar.sourceEncoding=UTF-8

sonar.projectName={{ repo_name }}
sonar.projectVersion={{ project_version | default("1.0") }}
